.idea
.env
.buildpath
.project
.settings
.vscode

_skins_tmp

GPATH
GRTAGS
GTAGS

/composer.lock
/composer.phar
/phpunit.cmd
/phpunit.phar
/phpunit-skelgen.phar

/vendor/
/vendor.bak/
/temp/
/reports/
/nbproject/
/*.code-workspace

/**/*.txt
/**/*.env
/**/*.mmdb
/**/tmp/